* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: block;
    height: 50px;
}

header button.btn {
    display: block;
    margin: 10px auto;
    padding: 5px 30px;
}

section {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    height: 93vh;
    width: 100%;
}

section div {
    flex-basis: 15%;
    flex-grow: 1;
    background-color: #000;
    border: 1px solid white;
}

@media (orientation: portrait){
    section div {
        flex-basis: 33.3%;
    }
    header {
        display: block;
        height: 100px;
    }

    header button.btn {
        display: block;
        margin: 20px auto;
        padding: 10px 80px;
        font-size: 30px;
    }
}

.red {
    background-color: red;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.violet {
    background-color: violet;
}
.brown {
    background-color: brown;
}
.aqua {
    background-color: aqua;
}
.chartreuse {
    background-color: chartreuse;
}
.salmon {
    background-color: salmon;
}
.lightskyblue {
    background-color: lightskyblue;
}


.off {
    background-color: whitesmoke;
}

.hidden {
    background-color: black;
}
