* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
   position: relative;
    height: 10vh;
}

header button.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding-left:30px;
    padding-right:30px;
    font-size: 30px;
    text-transform: uppercase;
}

section {
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
    width: 100%;
}

section div {
    flex-basis: 15%;
    flex-grow: 1;
    background-color: #000;
    border: 1px solid white;
}

@media (orientation: portrait){
    
        section {
        height: 100vh;
}
    
    section div {
        flex-basis: 33.33%;
    }
    header {
        display: none;
        height: 10vh;
    }

    
    header button.btn {
        display: none;
        padding-left:40px;
        padding-right:40px;
        font-size: 1.5rem;
    }
       
}

.red {
    background-color: red;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.violet {
    background-color: violet;
}
.brown {
    background-color: brown;
}
.aqua {
    background-color: aqua;
}
.chartreuse {
    background-color: chartreuse;
}
.salmon {
    background-color: salmon;
}
.lightskyblue {
    background-color: lightskyblue;
}


.off {
    background-color: whitesmoke;
}

.hidden {
    background-color: black;
}
